/*************
    base
**************/

html,
body {
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  list-style-type: none;
}

ul,
li {
  list-style: none;
}